body {
  background-color: white;
}

h1 {
  padding-top: 1.6rem;
  padding-bottom: 0.2rem;
  margin-left: 1rem;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  width: 90%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: #373867;
}

h2 {
  margin-bottom: 0.7rem;
  font-size: 1.9rem;
  text-align: center;
}
header {
  background-color: #373867;
}

form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
}

label {
  font-size: 1.1rem;
}

.inputBox {
  width: 90%;
  background: transparent;
  border: transparent;
  border-bottom: 1px solid #373867;
}
.form-input {
  width: 100%;
  padding: 0.3rem;
}

form button {
  width: 95%;
  margin-top: 1rem;
  padding: 0.8rem;
  background: #aace9b;
  border: 1px solid #373867;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #373867;
  transition: all 0.2s;
}

form button:hover {
  transform: scale(1.03);
}

.email-100 {
  width: 100%;
}

.link-signIn {
  font-size: 0.8rem;
  margin: auto;
}

.redAlert {
  color: red;
}

.validValue {
  border: 1px solid green;
}
.invalidValue {
  border: 1px solid red;
}

.error-msg {
  color: red;
  font-size: 0.7rem;
  padding-top: 0.3rem;
}

@media (min-width: 450px) {
  form {
    flex-direction: row;
  }

  .form-input {
    width: 45%;
  }

  .inputBox {
    width: 100%;
  }

  form button {
    width: 100%;
    margin: auto;
  }

  .email-100 {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .form-input {
    width: 45%;
  }

  .inputBox {
    width: 100%;
  }

  form button {
    width: 100%;
    margin: auto;
  }

  .email-100 {
    width: 100%;
  }
}
