body {
  flex-direction: column;
  background-color: white;
  color: #373867;
}

h1 {
  background-color: #373867;
  padding: 1.2rem;
  text-align: center;
  font-size: 2.15rem;
  color: white;
}

h2 {
  font-size: 1.8rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.link-home {
  align-self: baseline;
  padding: 0.5rem;
  margin: 0.7rem;
  font-size: 1rem;
  border: 1px solid #373867;
  border-radius: 8px;
}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70%;
  margin-top: 10vh;
}

form {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-evenly;
}

.form-remember {
  display: flex;
  align-items: center;
}

.form-remember label {
  padding-left: 0.5rem;
  font-size: 0.7rem;
}

a {
  display: block;
  font-size: 0.7rem;
  text-decoration: none;
  color: #373867;
  transition: color 0.2s linear 0.1s;
}

a:hover {
  color: #49a37b;
}

form button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: #aace9b;
  border: 1px solid #373867;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: 700;
  color: #373867;
  transition: all 0.2s;
}

form button:hover {
  transform: scale(1.03);
}

.inputBox {
  width: 100%;
  background: transparent;
  border: transparent;
}

.form-input {
  display: flex;
  border-bottom: 1px solid #373867;
}

.form-input {
  padding-right: 0.5rem;
}

.redAlert {
  color: red;
}

.validValue {
  border: 1px solid green;
}
.invalidValue {
  border: 1px solid red;
}

@media (min-width: 750px) {
  .container-login {
    width: 50%;
    border: 1px solid #373867;
    border-radius: 10px;
  }

  form {
    width: 50%;
  }
}
