<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/employee-signup.css" />
    <script src="../js/employee-signup.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Trackgenix</h1>
    </header>
    <main id="main">
      <a href="../views/index.html" class="link-home">Home</a>
      <div class="container-login">
        <h2>Sign Up</h2>
        <form id="form">
          <div class="form-input">
            <label for="firstName">First Name</label>
            <input
              type="text"
              placeholder="First Name"
              class="inputBox"
              id="firstName"
              required
            />
          </div>
          <div class="form-input">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              placeholder="Last Name"
              class="inputBox"
              id="lastName"
              required
            />
          </div>
          <div class="form-input">
            <label for="dni">DNI</label>
            <input
              type="text"
              placeholder="DNI"
              class="inputBox"
              id="dni"
              required
            />
          </div>
          <div class="form-input">
            <label for="birthDate">Birth Date</label>
            <input type="date" class="inputBox" id="birthDate" required />
          </div>
          <div class="form-input">
            <label for="phoneNum">Phone</label>
            <input
              type="text"
              placeholder="Phone number"
              class="inputBox"
              id="phone"
              required
            />
          </div>
          <div class="form-input">
            <label for="adress">Address</label>
            <input
              type="text"
              placeholder="Address"
              class="inputBox"
              id="adress"
              required
            />
          </div>
          <div class="form-input">
            <label for="city">City</label>
            <input
              type="text"
              placeholder="City"
              class="inputBox"
              id="city"
              required
            />
          </div>
          <div class="form-input">
            <label for="postalCode">Postal code</label>
            <input
              type="text"
              placeholder="Postal code"
              class="inputBox"
              id="postalCode"
              required
            />
          </div>
          <div class="form-input email-100">
            <img src="../img/form-email.png" alt="" />
            <label for="email">Email</label>
            <input
              type="text"
              placeholder="E-mail"
              class="inputBox"
              id="email"
              required
            />
          </div>
          <div class="form-input">
            <img src="../img/form-pass.png" alt="" />
            <label for="pass">Password</label>
            <input
              type="password"
              placeholder="Password"
              class="inputBox"
              id="pass"
              required
            />
          </div>
          <div class="form-input">
            <img src="../img/form-pass.png" alt="" />
            <label for="repeatPass">Repeat password</label>
            <input
              type="password"
              placeholder="Repeat password"
              class="inputBox"
              id="repeatPass"
              required
            />
          </div>
          <button type="submit" id="submit">Create account</button>
        </form>
        <a href="../views/login.html" class="link-signIn"
          >Do you already have an account? Sign In</a
        >
      </div>
    </main>
  </body>
</html>
