.container-first {
  display: flex;
  flex-direction: column;
}

.container-first img {
  min-width: 325px;
  max-width: 325px;
  margin-bottom: 30px;
  min-height: 279px;
}

.container-first div h2 {
  font-size: 1.9rem;
  margin-bottom: 0.8em;
}

.container-first div h3 {
  font-size: 1.3rem;
  margin-bottom: 0.8em;
}

.container-first div p {
  font-size: 0.8rem;
  padding-bottom: 2.5em;
  /* text-align: justify;
  width: 100%; */
}

.container-first div a {
  width: 156px;
  height: 46px;
  padding: 14px 36px;
  background-color: #49a37b;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
}

.container-functions h2,
.container-cards h2,
.container-form h2,
.container-about h2 {
  width: fit-content;
  padding-bottom: 5px;
  margin-bottom: 4vh;
  border-bottom: 4px solid #49a37b;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.container-functions div {
  margin-bottom: 2rem;
}

.container-functions p {
  font-size: 0.8rem;
}

.container-functions img {
  margin-bottom: 10px;
}

.container-functions h3 {
  font-size: 1.3rem;
  margin-bottom: 0.7em;
  font-weight: 400;
}

.card {
  width: 100%;
  color: #373867;
  background: #ffffff;
  border-radius: 17px;
  position: relative;
  padding: 10px 0px;
  margin-bottom: 25px;
  border-radius: 17px;
  background-color: #ffffff;
  color: #373867;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.card img {
  position: absolute;
  width: 27px;
  height: auto;
  right: 15px;
  top: 15px;
  margin-bottom: 10px;
}

.card h3 {
  width: fit-content;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 25px;
  padding-top: 10px;
  font-weight: 700;
  font-size: 17px;
  text-align: left;
}

.card p {
  width: 80%;
  padding-left: 25px;
  padding-bottom: 20px;
  margin-top: 0px;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 14px;
}

form {
  position: relative;
}

form > input,
form > select,
form > textarea {
  width: 100%;
  margin-bottom: 18px;
  padding-left: 5px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: none;
  color: white;
}
form > input,
form > select {
  height: 37px;
}

form > select {
  width: 100%;
}

form option {
  color: #0d0e35;
}

.container-form label {
  display: block;
  margin-top: 10px;
  padding-bottom: 5px;
}

.btn-submit {
  width: 64.26px;
  height: 34px;
  margin-right: 20px;
  background: #49a37b;
  border: 0;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #49a37abb;
}

.btn-reset {
  width: 58.35px;
  height: 34px;
  background: #f13312;
  border-radius: 5px;
  border: 0;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-reset:hover {
  background-color: #c74b35;
}

.container-about p {
  font-size: 0.8rem;
  line-height: 14px;
  margin-bottom: 20px;
}

.container-about h3 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.container-about-1 {
  display: flex;
  justify-content: space-between;
}

.container-text {
  width: 40%;
}
.container-about q {
  font-size: 0.8rem;
  font-style: italic;
  border-left: 1px solid white;
  padding-left: 0px;
  text-align: center;
  line-height: 14px;
}

#img-right {
  display: none;
}

.bottom,
.middle,
.float-right {
  display: none;
}

.container-about img {
  width: 168.8px;
  height: 112.53px;
  align-self: center;
}

.about-tittle {
  display: none;
}

.container-links h2 {
  margin-left: -10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.display-inline {
  width: fit-content;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.display-inline a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s linear 0.1s;
}

.display-inline a:hover {
  color: #49a37b;
}
.container-links li {
  list-style: decimal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.container-functions-divs div {
  display: inline-block;
  /* width: 44%; */
  margin-bottom: 50px;
  padding: 5px;
  transition: all 0.2s;
  border-radius: 10px;
}

@media (min-width: 480px) {
  html {
    font-size: 17px;
  }

  .container-first p {
    line-height: 20px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 45%;
  }

  .input-small {
    width: 45%;
  }

  form > input:nth-of-type(2) {
    position: absolute;
    right: 0;
    min-width: 100px;
  }

  .container-functions div {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    padding: 5px;
    overflow: visible;
    transition: all 0.2s;
    border-radius: 10px;
  }

  .container-functions img {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
  }

  .container-functions p {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  .container-functions h3 {
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }

  .container-first {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .container-first div {
    width: 48%;
  }

  #img-right {
    display: block;
  }

  .container-first img {
    max-width: 400px;
    align-self: flex-start;
  }

  .container-first div {
    min-width: 200px;
  }

  .container-functions div {
    width: 44%;
  }
}
